<app-navbar></app-navbar>

<div class="content">
<form class="row g-3" #form="ngForm" (ngSubmit)="ProntPsicologa()" >
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="Formulário de Registro">
      <fieldset class="border p-4">
        <div class="container mt-2">
          <div class="row g-3">
            
              <h2>Formulário de Registro</h2>
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Nome:</label>
                <input type="text" class="form-control" value="" name="nome" [(ngModel)]="ProntuarioPsicologo.nome">
              </div>
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Data Nascimento:</label>
                <input  type="date" class="form-control" value=""  name="dataNascimento" [(ngModel)]="ProntuarioPsicologo.dataNascimento">
              </div>

              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">RG:</label>
                <input  type="text" class="form-control" value=""  name="rg" [(ngModel)]="ProntuarioPsicologo.rg">
              </div>

              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">CPF:</label>
                <input  type="text" class="form-control" value=""  name="cpf" [(ngModel)]="ProntuarioPsicologo.cpf">
              </div>

              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Responsável Solidário:</label>
                <input  type="text" class="form-control" value="" name="responsavel" [(ngModel)]="ProntuarioPsicologo.responsavel">
              </div>
              
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Endereço:</label>
                <input  type="text" class="form-control" value=""  name="endereco" [(ngModel)]="ProntuarioPsicologo.endereco">
              </div>
              
              <div class="col-md-6">
                <label for="validationCustom01" class="form-label">Município:</label>
                <input  type="text" class="form-control" value=""  name="municipio" [(ngModel)]="ProntuarioPsicologo.municipio">
              </div>

              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Problemas de Saúde:</label>
                <input  type="text" class="form-control" value=""  name="saude" [(ngModel)]="ProntuarioPsicologo.saude">
              </div>

              <div class="col-md-4">
                  <label>Consciente:</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style="margin-left: 100px; margin-top: 6px;" name="consciente" value="Sim" id="consciente" [(ngModel)]="ProntuarioPsicologo.consciente">Sim
                </div>
                <div class="form-check form-check-inline"> 
                  <input class="form-check-input" type="radio" style="margin-left: 10px; margin-top: 6px;" name="consciente" value="Não" id="consciente" [(ngModel)]="ProntuarioPsicologo.consciente"> Não
                </div>
              </div>

              <div class="col-md-4">
                <label for="validationCustom01" class="form-label">Religião:</label>
                <input  type="text" class="form-control" value=""  name="religiao" [(ngModel)]="ProntuarioPsicologo.religiao" >
              </div>

              <div class="col-md-4">
                  <label>Filho:</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style=" margin-top: 6px;" name="filho" value="Sim" id="filho" [(ngModel)]="ProntuarioPsicologo.filho">Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" style="margin-left: 10px; margin-top: 6px;" name="filho" value="Não" id="filho"  [(ngModel)]="ProntuarioPsicologo.filho" >Não
                </div>
              </div>
              
              <div class="col-md-4">
                <label for="" class="form-label">Quantos:</label>
                <input  type="text" class="form-control" id=""   name="qntFilho" [(ngModel)]="ProntuarioPsicologo.qntFilho">
              </div>

              <div class="col-md-4">
                <label for="" class="form-label">Acolhimento particular ou através do creas:</label>
                <input  type="text" class="form-control" id=""   name="acolhimento" [(ngModel)]="ProntuarioPsicologo.acolhimento">
              </div>

              <div class="col-md-12">
                <label for="" class="form-label">Histórico de Vida:</label>
                <textarea name="historico" class="form-control" id="" rows="4" [(ngModel)]="ProntuarioPsicologo.historico"></textarea>
              </div>

              <div class="col-md-12">
                <button type="submit" class="submit-btn" >Enviar</button>
              </div>
            </div>
            <!-- (click)="routerPsic()" -->
        </div>
      </fieldset>
    </mat-tab>
  </mat-tab-group>
</form>
</div>