<app-navbar></app-navbar>

<div class="content">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="row g-3">
        <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
            <mat-tab label="Dados Pessoais">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <div class="row g-3">
                            <h4 class=" col-md-12 w-auto">Avaliação Fisioterapeuta</h4>

                            <div class="col-md-12">
                                <label>Data Avaliação</label>
                                <input type="date" class="form-control" name="dataAvaliacao" [(ngModel)]="model.dataAvaliacao"/>
                            </div>
                            <script>
                                $(document).ready(function () {
                                    $(".date").datepicker({
                                        language: "pt-BR", // Define a linguagem como Português do Brasil
                                        format: "dd/mm/yyyy", // Define o formato da data
                                        autoclose: true,
                                        todayHighlight: true,
                                    });
                                });
                            </script>

                            <div class="col-md-12">
                                <h5>Dados Pessoais</h5>
                            </div>

                            <div class="col-md-6">
                                <label>Nome</label>
                                <input type="text" class="form-control" name="nome" [(ngModel)]="model.nome"/>
                            </div>

                            <div class="col-md-4">
                                <label>Sexo</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="sexo" [(ngModel)]="model.sexo"/> Feminino
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="sexo" [(ngModel)]="model.sexo"/> Masculino
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label>Idade</label>
                                <input type="text" class="form-control" name="idade" [(ngModel)]="model.idade"/>
                            </div>

                            <div class="col-md-4">
                                <label>Data de Nascimento</label>
                                <input type="date" class="form-control" name="dataNascimento" [(ngModel)]="model.dataNascimento"/>
                            </div>

                            <script>
                                $(document).ready(function () {
                                    $(".date").datepicker({
                                        language: "pt-BR", // Define a linguagem como Português do Brasil
                                        format: "dd/mm/yyyy", // Define o formato da data
                                        autoclose: true,
                                        todayHighlight: true,
                                    });
                                });
                            </script>

                            <div class="col-md-4">
                                <label>Estado Civil</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model.estadoCivil"/> Solteiro
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model.estadoCivil"/> Casado
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model.estadoCivil"/> Separado
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model.estadoCivil"/> Divorciado
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model.estadoCivil"/> Viúvo
                                </div>
                            </div>

                            <div class="col-md-4">
                                <h6 for="celular" class="form-label">Telefone</h6>
                                <input type="text" class="form-control" placeholder="(xx) xxxxx-xxxx"
                                    maxlength="15" name="telefone"  [(ngModel)]="model.telefone"/>
                            </div>
                            <script>
                                // Adiciona a máscara ao campo de celular
                                document
                                    .getElementById("celular")
                                    .addEventListener("input", function (e) {
                                        var value = e.target.value.replace(/\D/g, "");
                                        var formattedValue = "(" + value.substring(0, 2);
                                        if (value.length > 2) {
                                            formattedValue += ") " + value.substring(2, 5);
                                        }
                                        if (value.length > 6) {
                                            formattedValue += "-" + value.substring(5, 9);
                                        }
                                        e.target.value = formattedValue;
                                    });
                            </script>

                            <div class="col-md-12">
                                <label>Endereço</label>
                                <input type="text" class="form-control" name="endereco" [(ngModel)]="model.endereco"/>
                            </div>

                            <div class="col-md-4">
                                <label>Exames Complementares</label>
                                <input type="text" class="form-control" name="examesComplementares" [(ngModel)]="model.examesComplementares"/>
                            </div>

                            <div class="col-md-4">
                                <label>Medicamentos</label>
                                <input type="text" class="form-control" name="medicamentos" [(ngModel)]="model.medicamentos"/>
                            </div>

                            <div class="col-md-4">
                                <label>Diagnóstico Clínico-Patológico</label>
                                <input type="text" class="form-control" name="diagnosticoClinicoPatologico" [(ngModel)]="model.diagnosticoClinicoPatologico"/>
                            </div>

                            <div class="col-md-4">
                                <label>Queixa Principal</label>
                                <textarea cols="10" rows="4" wrap="hard" class="form-control"
                                    name="queixaPrincipal" [(ngModel)]="model.queixaPrincipal"></textarea>
                            </div>

                            <div class="col-md-4">
                                <label>H.M.A</label>
                                <textarea cols="10" rows="4" wrap="hard" class="form-control" name="hma" [(ngModel)]="model.hma"></textarea>
                            </div>

                            <div class="col-md-4">
                                <label>A.V.D</label>
                                <textarea cols="10" rows="4" wrap="hard" class="form-control" name="avd" [(ngModel)]="model.avd"></textarea>
                            </div>

                            <div class="col-md-4">
                                <label>Aparelho Locomotor</label>
                                <input type="text" class="form-control" name="aparelhoLocomotor" [(ngModel)]="model.aparelhoLocomotor"/>
                            </div>

                            <div class="col-md-4">
                                <label>Cardio-respiratório</label>
                                <input type="text" class="form-control" name="aparelhoCardioRespiratorio" [(ngModel)]="model.aparelhoCardioRespiratorio"/>
                            </div>

                            <div class="col-md-4">
                                <label>Cardio-vascular</label>
                                <input type="text" class="form-control" name="aparelhoCardioVascular" [(ngModel)]="model.aparelhoCardioVascular"/>
                            </div>

                            <div class="col-md-4">
                                <label>Ginecológico</label>
                                <input type="text" class="form-control" name="ginecologico" [(ngModel)]="model.ginecologico"/>
                            </div>

                            <div class="col-md-4">
                                <label>Outros</label>
                                <textarea cols="10" rows="4" wrap="hard" class="form-control" name="outros" [(ngModel)]="model.outros"></textarea>
                            </div>

                            <div class="col-md-4">
                                <label>Dificuldade De Comunicação</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="dificuldadeComunicacao" [(ngModel)]="model.dificuldadeComunicacao"/>
                                    Sim
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="dificuldadeComunicacao" [(ngModel)]="model.dificuldadeComunicacao"/>
                                    Não
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Medicamentos">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">

                            <div class="col-md-12">
                                <h5>Medicamentos</h5>
                            </div>

                            <div class="col-md-6">
                                <label>Tipo de medicamento usado</label>
                                <input type="text" class="form-control" name="tipoMedicamento" [(ngModel)]="model.tipoMedicamento"/>
                            </div>

                            <div class="col-md-6">
                                <label>Dosagem</label>
                                <input type="text" class="form-control" name="dosagem" [(ngModel)]="model.dosagem"/>
                            </div>

                            <div class="col-md-6">
                                <label>Frequência</label>
                                <input type="text" class="form-control" name="frequencia" [(ngModel)]="model.frequencia"/>
                            </div>

                            <div class="col-md-6">
                                <label>Remédio sem prescrição</label>
                                <input type="text" class="form-control" name="remedioSemPrescricao" [(ngModel)]="model.remedioSemPrescricao"/>
                            </div>

                            <div class="col-md-12">
                                <label>Habilidade para manusear o medicamento</label>
                                <input type="text" class="form-control" name="habilidadeManusear" [(ngModel)]="model.habilidadeManusear"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="História Nutricional">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">

                            <div class="col-md-12">
                                <h5>História Nutricional</h5>
                            </div>

                            <div class="col-md-6">
                                <label>Frequência das Refeições</label>
                                <input type="text" class="form-control" name="frequenciaRefeicoes" [(ngModel)]="model.frequenciaRefeicoes"/>
                            </div>
                            <div class="col-md-6">
                                <label>Dieta especial</label>
                                <input type="text" class="form-control" name="dietaEspecial" [(ngModel)]="model.dietaEspecial" />
                            </div>
                            <div class="col-md-6">
                                <label>Ingestão de ácool</label>
                                <input type="text" class="form-control" name="ingestaoAlcool" [(ngModel)]="model.ingestaoAlcool"/>
                            </div>
                            <div class="col-md-6">
                                <label>Ingestão hídrica</label>
                                <input type="text" class="form-control" name="ingestaoHidrica" [(ngModel)]="model.ingestaoHidrica"/>
                            </div>
                            <div class="col-md-6">
                                <label>Problemas Dentários - Usa prótese</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="usaProtese" [(ngModel)]="model.usaProtese"/> Sim
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="usaProtese" [(ngModel)]="model.usaProtese"/> Não
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Tem apetite</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="apetite" [(ngModel)]="model.apetite"/> Sim
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="radio" name="apetite" [(ngModel)]="model.apetite"/> Não
                                </div><br>
                                <label>Por que</label>
                                <input type="text" class="form-control" name="porqueApetite" [(ngModel)]="model.porqueApetite"/>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="História Psiquiátrica">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">

                            <div class="col-md-12">
                                <h5>História Psiquiátrica:</h5>
                            </div>

                            <div class="col-md-12">
                                <label>Demência (Mini Teste do Estado Mental)</label>
                                <input type="text" class="form-control" name="demencia" [(ngModel)]="model.demencia"/>
                            </div>
                            <div class="col-md-12">
                                <label>Escala de depressão em Geriatria</label>
                                <input type="text" class="form-control" name="escalaDepressao" [(ngModel)]="model.escalaDepressao"/>
                            </div>
                            <div class="col-md-12">
                                <label>Estado Emocional</label>
                                <input type="text" class="form-control" name="estadoEmocional" [(ngModel)]="model.estadoEmocional"/>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Sinais Vitais">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">

                            <div class="col-md-12">
                                <h5>Sinais Vitais:</h5>
                            </div>

                            <div class="col-md-4">
                                <label>Peso</label>
                                <input type="text" class="form-control" name="peso" [(ngModel)]="model.peso"/>
                            </div>
                            <div class="col-md-4">
                                <label>Altura</label>
                                <input type="text" class="form-control" name="altura" [(ngModel)]="model.altura"/>
                            </div>
                            <div class="col-md-4">
                                <label>P.A</label><br>
                                <div class="form-check form-check-inline">
                                    <input type="text" class="form-control" name="pa" [(ngModel)]="model.pa"/>
                                    <label for="inputEmail4" class="form-label" style="padding-left: 4px;"> mmHg
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label>Ausculta Cardíaca</label>
                                <input type="text" class="form-control" name="auscultaCardiaca" [(ngModel)]="model.auscultaCardiaca"/>
                            </div>
                            <div class="col-md-4">
                                <label>Frequência Cardíaca</label>
                                <input type="text" class="form-control" name="frequenciaCardiaca" [(ngModel)]="model.frequenciaCardiaca"/>
                            </div>
                            <div class="col-md-4">
                                <label>Ausculta Pulmonar</label>
                                <input type="text" class="form-control" name="auscultaPulmonar" [(ngModel)]="model.auscultaPulmonar"/>
                            </div>
                            <div class="col-md-6">
                                <label>Frequência Respiratória</label>
                                <input type="text" class="form-control" name="frequenciaRespiratoria" [(ngModel)]="model.frequenciaRespiratoria"/>
                            </div>
                            <div class="col-md-6">
                                <label>Padrão Respiratório</label>
                                <input type="text" class="form-control" name="padraoRespiratorio" [(ngModel)]="model.padraoRespiratorio"/>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Goniometria">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">

                            <div class="col-md-12">
                                <h5>Goniometria:</h5>
                            </div>

                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Articulação</th>
                                            <th>Movimentos</th>
                                            <th>VR*</th>
                                            <th>ADM Direito</th>
                                            <th>ADM Esquerdo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="6">Ombro</td>
                                            <td>Flexão</td>
                                            <td><input class="form-control" type="text" name="ombroFlexaoVR" id="" [(ngModel)]="model.ombroFlexaoVR"></td>
                                            <td><input class="form-control" type="text" name="ombroFlexaoAdmDireito" [(ngModel)]="model.ombroFlexaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroFlexaoAdmEsquerdo" [(ngModel)]="model.ombroFlexaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Extensão</td>
                                            <td><input class="form-control" type="text" name="ombroExtensaoVR" [(ngModel)]="model.ombroExtensaoVR" id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="ombroExtensaAdmDireito" [(ngModel)]="model.ombroExtensaAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroExtensaAdmEsquerdo" [(ngModel)]="model.ombroExtensaAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Adução</td>
                                            <td><input class="form-control" type="text" name="ombroAducaoVR" [(ngModel)]="model.ombroAducaoVR" id=""></td>
                                            <td><input class="form-control" type="text" name="ombroAducaoAdmDireito" [(ngModel)]="model.ombroAducaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroAducaoAdmEsquerdo" [(ngModel)]="model.ombroAducaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Abdução</td>
                                            <td><input class="form-control" type="text" name="ombroAbducaoVR" [(ngModel)]="model.ombroAbducaoVR" id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="ombroAbducaoAdmDireito" [(ngModel)]="model.ombroAbducaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroAbducaoAdmEsquerdo" [(ngModel)]="model.ombroAbducaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Rot. Interna</td>
                                            <td><input class="form-control" type="text" name="ombroRotInternaVR" [(ngModel)]="model.ombroRotInternaVR" id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="ombroRotInternaAdmDireito" [(ngModel)]="model.ombroRotInternaAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroRotInternaAdmEsquerdo" [(ngModel)]="model.ombroRotInternaAdmEsquerdo" id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Rot. Externa</td>
                                            <td><input class="form-control" type="text" name="ombroRotExternaVR" [(ngModel)]="model.ombroRotExternaVR" id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="ombroRotExternaAdmDireito" [(ngModel)]="model.ombroRotExternaAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="ombroRotExternaAdmEsquerdo" [(ngModel)]="model.ombroRotExternaAdmDireito" id=""></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Articulação</th>
                                            <th>Movimentos</th>
                                            <th>VR*</th>
                                            <th>ADM Direito</th>
                                            <th>ADM Esquerdo</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td rowspan="2">Cotovelo</td>
                                            <td>Flexão</td>
                                            <td><input class="form-control" type="text" name="cotoveloFlexaoVR" [(ngModel)]="model.cotoveloFlexaoVR"id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="cotoveloFlexaoAdmDireito" [(ngModel)]="model.cotoveloFlexaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="cotoveloFlexaoAdmEsquerdo" [(ngModel)]="model.cotoveloFlexaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Extensão</td>
                                            <td><input class="form-control" type="text" name="cotoveloExtensaoVR" [(ngModel)]="model.cotoveloExtensaoVR" id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="cotoveloExtensaoAdmDireito" [(ngModel)]="model.cotoveloExtensaoAdmDireito" id=""></td>
                                            <td><input class="form-control" type="text" name="cotoveloExtensaoAdmEsquerdo"[(ngModel)]="model.cotoveloExtensaoAdmEsquerdo"  id=""></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="4">Punho</td>
                                            <td>Extensão</td>
                                            <td><input class="form-control" type="text" name="punhoExtensaoVR" [(ngModel)]="model.punhoExtensaoVR"id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="punhoExtensaoAdmDireito"[(ngModel)]="model.punhoExtensaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="punhoExtensaoAdmEsquerdo"[(ngModel)]="model.punhoExtensaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Flexão</td>
                                            <td><input class="form-control" type="text" name="punhoFlexaoVR"[(ngModel)]="model.punhoFlexaoVR" id=""></td>
                                            <td><input class="form-control" type="text" name="punhoFlexaoAdmDireito"[(ngModel)]="model.punhoFlexaoAdmDireito"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="punhoFlexaoAdmEsquerdo"[(ngModel)]="model.punhoFlexaoAdmEsquerdo"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Desvio Ulnar</td>
                                            <td><input class="form-control" type="text" name="punhoDesvioUlnarVR" [(ngModel)]="model.punhoDesvioUlnarVR"id="">
                                            </td>
                                            <td><input class="form-control" type="text" name="punhoDesvioUlnarAdmDireito" [(ngModel)]="model.punhoDesvioUlnarAdmDireito"id=""></td>
                                            <td><input class="form-control" type="text" name="punhoDesvioUlnarAdmEsquerdo"[(ngModel)]="model.punhoDesvioUlnarAdmEsquerdo" id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Desvio Radial</td>
                                            <td><input class="form-control" type="text" name="punhoDesvioRadialVR" [(ngModel)]="model.punhoDesvioRadialVR"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="punhoDesvioRadialAdmDireito" [(ngModel)]="model.punhoDesvioRadialAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="punhoDesvioRadialAdmEsquerdo" [(ngModel)]="model.punhoDesvioRadialAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="6">Quadril</td>
                                            <td>Flexão</td>
                                            <td><input class="form-control" type="text" name="quadrilFlexaoVR" [(ngModel)]="model.quadrilFlexaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="quadrilFlexaoAdmDireito" [(ngModel)]="model.quadrilFlexaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilFlexaoAdmEsquerdo" [(ngModel)]="model.quadrilFlexaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Extensão</td>
                                            <td><input class="form-control" type="text" name="quadrilExtensaoVR" [(ngModel)]="model.quadrilExtensaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="quadrilExtensaoAdmDireito" [(ngModel)]="model.quadrilExtensaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilExtensaoAdmEsquerdo" [(ngModel)]="model.quadrilExtensaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Adução</td>
                                            <td><input class="form-control" type="text" name="quadrilAducaoVR" [(ngModel)]="model.quadrilAducaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="quadrilAducaoAdmDireito" [(ngModel)]="model.quadrilAducaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilAducaoAdmEsquerdo" [(ngModel)]="model.quadrilAducaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Abdução</td>
                                            <td><input class="form-control" type="text" name="quadrilAbducaoVR" [(ngModel)]="model.quadrilAbducaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="quadrilAbducaoAdmDireito" [(ngModel)]="model.quadrilAbducaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilAbducaoAdmEsquerdo" [(ngModel)]="model.quadrilAbducaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Rot. Interna</td>
                                            <td><input class="form-control" type="text" name="quadrilRotInternaVR" [(ngModel)]="model.quadrilRotInternaVR"></td>
                                            <td><input class="form-control" type="text" name="quadrilRotInternaAdmDireito" [(ngModel)]="model.quadrilRotInternaAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilRotInternaAdmEsquerdo" [(ngModel)]="model.quadrilRotInternaAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Rot. Externa</td>
                                            <td><input class="form-control" type="text" name="quadrilRotExternaVR" [(ngModel)]="model.quadrilRotExternaVR"></td>
                                            <td><input class="form-control" type="text" name="quadrilRotExternaAdmDireito" [(ngModel)]="model.quadrilRotExternaAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="quadrilRotExternaAdmEsquerdo" [(ngModel)]="model.quadrilRotExternaAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="2">Joelho</td>
                                            <td>Flexão</td>
                                            <td><input class="form-control" type="text" name="joelhoFlexaoVR" [(ngModel)]="model.joelhoFlexaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="joelhoFlexaoAdmDireito" [(ngModel)]="model.joelhoFlexaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="joelhoFlexaoAdmEsquerdo" [(ngModel)]="model.joelhoFlexaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Extensão</td>
                                            <td><input class="form-control" type="text" name="joelhoExtensaoVR" [(ngModel)]="model.joelhoExtensaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="joelhoExtensaoAdmDireito" [(ngModel)]="model.joelhoExtensaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="joelhoExtensaoAdmEsquerdo" [(ngModel)]="model.joelhoExtensaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="4">Tornozelo</td>
                                            <td>Eversão</td>
                                            <td><input class="form-control" type="text" name="tornozeloEversaoVR" [(ngModel)]="model.tornozeloEversaoVR">
                                            </td>
                                            <td><input class="form-control" type="text" name="tornozeloEversaoAdmDireito" [(ngModel)]="model.tornozeloEversaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="tornozeloEversaoAdmEsquerdo" [(ngModel)]="model.tornozeloEversaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Dorsiflexão</td>
                                            <td><input class="form-control" type="text" name="tornozeloDorsiflexaoVR" [(ngModel)]="model.tornozeloDorsiflexaoVR"></td>
                                            <td><input class="form-control" type="text" name="tornozeloDorsiflexaoAdmDireito" [(ngModel)]="model.tornozeloDorsiflexaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="tornozeloDorsiflexaoAdmEsquerdo" [(ngModel)]="model.tornozeloDorsiflexaoAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Flexão Plantar</td>
                                            <td><input class="form-control" type="text" name="tornozeloFlexaoPlantarVR" [(ngModel)]="model.tornozeloFlexaoPlantarVR"></td>
                                            <td><input class="form-control" type="text" name="tornozeloFlexaoPlantarAdmDireito" [(ngModel)]="model.tornozeloFlexaoPlantarAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="tornozeloFlexaoPlantarAdmEsquerdo" [(ngModel)]="model.tornozeloFlexaoPlantarAdmEsquerdo"></td>
                                        </tr>
                                        <tr>
                                            <td>Inversão</td>
                                            <td><input class="form-control" type="text" name="tornozeloInversaoVR" [(ngModel)]="model.tornozeloInversaoVR"></td>
                                            <td><input class="form-control" type="text" name="tornozeloInversaoAdmDireito" [(ngModel)]="model.tornozeloInversaoAdmDireito"></td>
                                            <td><input class="form-control" type="text" name="tornozeloInversaoAdmEsquerdo" [(ngModel)]="model.tornozeloInversaoAdmEsquerdo"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Quedas">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <h5>Quedas:</h5>
                            </div>

                            <div class="col-md-12">
                                <label>Tempo</label>
                                <input type="text" class="form-control" name="tempoQuedas" [(ngModel)]="model.tempoQuedas">
                            </div>
                            <div class="col-md-12">
                                <label>Frequência</label>
                                <input type="text" class="form-control" name="frequenciaQuedas" [(ngModel)]="model.frequenciaQuedas">
                            </div>
                            <div class="col-md-12">
                                <label>Local</label>
                                <input type="text" class="form-control" name="localQuedas" [(ngModel)]="model.localQuedas">
                            </div>


                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Sistema Neurológico">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <h5>Avaliação do Sistema Neurológico</h5>
                            </div>

                            <div class="col-md-12">
                                <label>Reflexo</label><br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="checkbox" name="reflexo" [(ngModel)]="model.reflexo"/> Biciptal
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="checkbox" name="reflexo" [(ngModel)]="model.reflexo"/> Triciptal
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="checkbox" name="reflexo" [(ngModel)]="model.reflexo"/> Patelar
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input radio" type="checkbox" name="reflexo" [(ngModel)]="model.reflexo"/> Aquileu
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label>Equílibrio Corporal</label><br>
                                <label>Sentado</label>
                                <input class="form-control" type="text" name="equilibrioSentado"[(ngModel)]="model.equilibrioSentado">
                                <label>Em pé</label>
                                <input class="form-control" type="text" name="equilibrioEmPe"[(ngModel)]="model.equilibrioEmPe">
                                <label>Sinal de Rosemberg</label>
                                <input class="form-control" type="text" name="equilibrioSinalRosemberg"[(ngModel)]="model.equilibrioSinalRosemberg">
                            </div>

                            <div class="col-md-12">
                                <h5>Atividade de Vida Diária</h5>
                                <textarea class="form-control" name="atividadeVidaDiaria" id="" cols="10" [(ngModel)]="model.atividadeVidaDiaria"
                                    rows="5"></textarea>
                            </div>

                            <div class="col-md-12">
                                <h5>Escala Visual de Dor</h5>
                                <h6>Digite de 0 a 10</h6>
                                <div class="example-label-container">
                                    <input type="number" name="escalaDor" [(ngModel)]="model.escalaDor">
                                </div>
                                    
                                <label>Região da Dor</label>
                                <input class="form-control" type="text" name="regiaoDor" [(ngModel)]="model.regiaoDor">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Postural">
                <fieldset class="border p-4">
                    <div class="container mt-2 ">
                        <h4 class="w-auto">Avaliação Fisioterapeuta</h4>
                        <div class="row g-3">
                            <div class="col-md-12">
                                <h5>Avaliação Postural</h5>
                            </div>

                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Região</th>
                                            <th>Sagital</th>
                                            <th>Frontal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Pé</td>
                                            <td><input class="form-control" type="text" name="peSagital" id="" [(ngModel)]="model.peSagital"></td>
                                            <td><input class="form-control" type="text" name="peFrontal" id="" [(ngModel)]="model.peFrontal"></td>
                                        </tr>
                                        <tr>
                                            <td>Joelho</td>
                                            <td><input class="form-control" type="text" name="joelhoSagital" id=""[(ngModel)]="model.joelhoSagital"></td>
                                            <td><input class="form-control" type="text" name="joelhoFrontal" id=""[(ngModel)]="model.joelhoFrontal"></td>
                                        </tr>
                                        <tr>
                                            <td>Cintura Pélvica</td>
                                            <td><input class="form-control" type="text" name="cinturaPelvicaSagital" [(ngModel)]="model.cinturaEscapularSagital"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="cinturaPelvicaFrontal" [(ngModel)]="model.cinturaEscapularFrontal"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Coluna</td>
                                            <td><input class="form-control" type="text" name="colunaSagital" id=""[(ngModel)]="model.colunaSagital"></td>
                                            <td><input class="form-control" type="text" name="colunaFrontal" id=""[(ngModel)]="model.colunaFrontal"></td>
                                        </tr>
                                        <tr>
                                            <td>Cintura escapular</td>
                                            <td><input class="form-control" type="text" name="cinturaEscapularSagital" [(ngModel)]="model.cinturaEscapularSagital"
                                                    id=""></td>
                                            <td><input class="form-control" type="text" name="cinturaEscapularFrontal" [(ngModel)]="model.cinturaEscapularFrontal"
                                                    id=""></td>
                                        </tr>
                                        <tr>
                                            <td>Cabeça</td>
                                            <td><input class="form-control" type="text" name="cabecaSagital" id=""[(ngModel)]="model.cabecaSagital"></td>
                                            <td><input class="form-control" type="text" name="cabecaFrontal" id=""[(ngModel)]="model.cabecaFrontal"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-md-6">
                                <label class="textSection">Avaliação da Marcha:</label>
                                <textarea rows="4" class="form-control " name="avaliacaoMarcha"[(ngModel)]="model.avaliacaoMarcha"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="textSection">Observações:</label>
                                <textarea rows="4" class="form-control " name="observacoes"[(ngModel)]="model.observacoes"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="textSection">Diagnóstico Funcional:</label>
                                <textarea rows="6" class="form-control " name="diagnosticoFuncional"[(ngModel)]="model.diagnosticoFuncional"></textarea>
                            </div>
                            <div class="col-md-6">
                                <label class="textSection">Objetivos Fisioterápicos:</label>
                                <textarea rows="6" class="form-control " name="objetivosFisioterapicos"[(ngModel)]="model.objetivosFisioterapicos"></textarea>
                            </div>

                            <div class="container mt-2">
                                <div class="row g-3">
                                  <div class="btn form-check">
                                    <input class="enviar btn btn-success" type="submit" value="Enviar">
                                    <input class="limpar btn btn-danger" type="reset" value="Limpar">
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
        </mat-tab-group>
    </form>
</div>