<app-navbar></app-navbar>

<div class="content">
  <form #form="ngForm" (ngSubmit)="ProntNutricionista()" class="row g-3">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Dados Pessoais">
        <fieldset class="border p-4">
          <div class="container mt-2 ">
            <div class="row g-3">
              <h4 class=" col-md-12 w-auto">Avaliação Nutricionista</h4>

              <div class="col-md-10">
                <label>Data Avaliação</label>
                <input type="date" class="form-control" name="dataAvaliacao" [(ngModel)]="model.dataAvaliacao" />
              </div>
              <script>
                $(document).ready(function () {
                  $(".date").datepicker({
                    language: "pt-BR", // Define a linguagem como Português do Brasil
                    format: "dd/mm/yyyy", // Define o formato da data
                    autoclose: true,
                    todayHighlight: true,
                  });
                });
              </script>

              <div class="col-md-12">
                <h5>Dados Pessoais</h5>
              </div>

              <div class="col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="model.nome"/>
              </div>

              <div class="col-md-2">
                <label>Idade</label>
                <input type="number" class="form-control" name="idade" [(ngModel)]="model.idade"/>
              </div>

              <div class="col-md-4">
                <label>Data de Nascimento</label>
                <input type="date" class="form-control" name="dataNascimento" [(ngModel)]="model.dataNascimento"/>
              </div>

              <div class="col-md-4">
                <label>Motivo da consulta </label>
                <textarea cols="10" rows="4" wrap="hard" class="form-control" name="motivoConsulta" [(ngModel)]="model.motivoConsulta"></textarea>
              </div>

              <div class="col-md-4">
                <label>Encaminhado por:</label>
                <input type="text" class="form-control" name="encaminhadoPor" [(ngModel)]="model.encaminhadoPor"/>
              </div>

              <div class="col-md-4">
                <label>Convênio</label>
                <input type="text" class="form-control" name="convenio" [(ngModel)]="model.convenio"/>
              </div>

              <div class="col-md-6">
                <h6 for="celular" class="form-label">Telefone</h6>
                <input type="text" class="form-control" id="celular" placeholder="(xx) xxxxx-xxxx" maxlength="15"
                  name="telefone" [(ngModel)]="model.telefone"/>
              </div>
              <script>
                // Adiciona a máscara ao campo de celular
                document
                  .getElementById("celular")
                  .addEventListener("input", function (e) {
                    var value = e.target.value.replace(/\D/g, "");
                    var formattedValue = "(" + value.substring(0, 2);
                    if (value.length > 2) {
                      formattedValue += ") " + value.substring(2, 5);
                    }
                    if (value.length > 6) {
                      formattedValue += "-" + value.substring(5, 9);
                    }
                    e.target.value = formattedValue;
                  });
              </script>

              <div class="col-md-6">
                <label>Endereço</label>
                <input type="text" class="form-control" name="endereco" [(ngModel)]="model.endereco"/>
              </div>


            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Aspectos Sócio - Econômicos">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Escolaridade</label>
                <input type="text" class="form-control" name="escolaridade" [(ngModel)]="model.escolaridade"/>
              </div>

              <div class="col-md-6">
                <label>Profissão</label>
                <input type="text" class="form-control" name="profissao" [(ngModel)]="model.profissao"/>
              </div>

              <div class="col-md-4">
                <label>Número de pessoas que moram na casa</label>
                <input type="number" class="form-control" name="numeroPessoasCasa" [(ngModel)]="model.numeroPessoasCasa"/>
              </div>

              <div class="col-md-4">
                <label>N° Adultos</label>
                <input type="number" class="form-control" name="numeroAdulto" [(ngModel)]="model.numeroAdulto"/>
              </div>

              <div class="col-md-4">
                <label>N° Crianças (0 - 14 anos)</label>
                <input type="number" class="form-control" name="numeroCrianca" [(ngModel)]="model.numeroCrianca" />
              </div>

              <div class="col-md-12">
                <label>Estado Civil</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" value="Solteiro" [(ngModel)]="model.estadoCivil"/> Solteiro
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" value="Casado" [(ngModel)]="model.estadoCivil"/> Casado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" value="Separado" [(ngModel)]="model.estadoCivil"/> Separado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" value="Divorciado" [(ngModel)]="model.estadoCivil"/> Divorciado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" value="Viúvo" [(ngModel)]="model.estadoCivil"/> Viúvo
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Histórico Clínico">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Apresenta algum problema de saúde </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="problemaSaude" value="Sim" [(ngModel)]="model.problemaSaude"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="problemaSaude" value="Não" [(ngModel)]="model.problemaSaude"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Qual</label>
                <input type="text" class="form-control" name="qualProblemaSaude" [(ngModel)]="model.qualProblemaSaude"/>
              </div>

              <div class="col-md-3">
                <label>Diabetes</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" value="Sim" [(ngModel)]="model.diabetes"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" value="Não" [(ngModel)]="model.diabetes"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Hipertensão</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" value="Sim" [(ngModel)]="model.hipertensao"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" value="Não" [(ngModel)]="model.hipertensao"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Obesidade</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" value="Sim" [(ngModel)]="model.obesidade"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" value="Não" [(ngModel)]="model.obesidade"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Dislipidemia</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" value="Sim" [(ngModel)]="model.dislipidemia"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" value="Não" [(ngModel)]="model.dislipidemia"/>
                  Não
                </div>
              </div>

              <div class="col-md-12">
                <label>Outros </label>
                <input type="text" class="form-control" name="outros" [(ngModel)]="model.outrosProblemas"/>
              </div>

            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Antecedentes familiares">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-3">
                <label>Diabetes</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteDiabetes" value="Sim" [(ngModel)]="model.antecedenteDiabetes"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteDiabetes" value="Não" [(ngModel)]="model.antecedenteDiabetes"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Hipertensão</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteHipertensao" value="Sim" [(ngModel)]="model.antecedenteHipertensao"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteHipertensao" value="Não" [(ngModel)]="model.antecedenteHipertensao"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Obesidade</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteObesidade" value="Sim" [(ngModel)]="model.antecedenteObesidade"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteObesidade" value="Não" [(ngModel)]="model.antecedenteObesidade"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Dislipidemia</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteDislipidemia" value="Sim" [(ngModel)]="model.antecedenteDislipidemia"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="antecedenteDislipidemia" value="Não" [(ngModel)]="model.antecedenteDislipidemia"/>
                  Não
                </div>
              </div>

              <div class="col-md-12">
                <label>Outros </label>
                <input type="text" class="form-control" name="outrosAntecedentes" [(ngModel)]="model.outrosAntecedentes"/>
              </div>

              <div class="col-md-6">
                <label>Hábito intestinal </label>
                <input type="text" class="form-control" name="habitoIntestinal" [(ngModel)]="model.habitoIntestinal"/>
              </div>

              <div class="col-md-6">
                <label>Características das fezes </label>
                <input type="text" class="form-control" name="caracteristicaFezes" [(ngModel)]="model.caracteristicaFezes"/>
              </div>

              <div class="col-md-6">
                <label>Hábito urinário</label>
                <input type="text" class="form-control" name="habitoUrinario" [(ngModel)]="model.habitoUrinario"/>
              </div>

              <div class="col-md-6">
                <label>Horas de sono </label>
                <input type="number" class="form-control" name="horaSono" [(ngModel)]="model.horasSono"/>
              </div>

              <div class="col-md-6">
                <label>Atividade fisica</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="atividadeFisica" value="Sim" [(ngModel)]="model.atividadeFisica"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="atividadeFisica" value="Não" [(ngModel)]="model.atividadeFisica"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Frequência </label>
                <input type="text" class="form-control" name="frequenciaAtividadeFisica" [(ngModel)]="model.frequenciaAtividadeFisica"/>
              </div>

              <div class="col-md-4">
                <label>Fuma </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fuma" value="Sim" [(ngModel)]="model.fuma"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fuma" value="Não" [(ngModel)]="model.fuma"/>
                  Não
                </div>
              </div>

              <div class="col-md-4">
                <label>Quanto </label>
                <input type="text" class="form-control" name="quantoFuma" value="Sim" [(ngModel)]="model.quantoFuma"/>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempo" value="Não" [(ngModel)]="model.haQuantoTempoFuma"/>
              </div>

              <div class="col-md-4">
                <label>Faz uso de bebida alcoólica </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoBebidaAlcoolica" value="Sim" [(ngModel)]="model.fazUsoBebidaAlcoolica"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoBebidaAlcoolica" value="Não" [(ngModel)]="model.fazUsoBebidaAlcoolica"/>
                  Não
                </div>
              </div>

              <div class="col-md-4">
                <label>Tipo </label>
                <input type="text" class="form-control" name="tipoBebida" [(ngModel)]="model.tipoBebida"/>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoBebida" [(ngModel)]="model.haQuantoTempoBebida"/>
              </div>

              <div class="col-md-6">
                <label>Faz uso de laxantes </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoLaxante" value="Sim" [(ngModel)]="model.fazUsoLaxante"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoLaxante" value="Não" [(ngModel)]="model.fazUsoLaxante"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Por quanto tempo </label>
                <input type="text" class="form-control" name="porQuantoTempoLaxante" [(ngModel)]="model.porQuantoTempoLaxante"/>
              </div>

              <div class="col-md-4">
                <label>Faz uso de medicamento</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoMedicamento" value="Sim" [(ngModel)]="model.fazUsoMedicamento"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="fazUsoMedicamento" value="Não" [(ngModel)]="model.fazUsoMedicamento"/>
                  Não
                </div>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoMedicamento" [(ngModel)]="model.haQuantoTempoMedicamento"/>
              </div>

              <div class="col-md-4">
                <label>Quais </label>
                <input type="text" class="form-control" name="quaisMedicamento" [(ngModel)]="model.quaisMedicamentos"/>
              </div>


            </div>
          </div>
        </fieldset>
      </mat-tab>


      <mat-tab label="Avaliação Nutricional - Histórico Alimentar">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Apresenta intolerância ou aversão alimentar? </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="intoleranciaOuAversaoAlimentar" value="Sim" [(ngModel)]="model.intoleranciaOuAversaoAlimentar"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="intoleranciaOuAversaoAlimentar" value="Não" [(ngModel)]="model.intoleranciaOuAversaoAlimentar"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Qual? </label>
                <input type="text" class="form-control" name="qualIntolerancia" [(ngModel)]="model.qualIntolerancia"/>
              </div>

              <div class="col-md-6">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoIntolerancia" [(ngModel)]="model.haQuantoTempoIntolerancia"/>
              </div>

              <div class="col-md-6">
                <label>Faz ou fez algum controle de alimentação?</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="controleAlimentacao" value="Sim" [(ngModel)]="model.controleAlimentacao"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="controleAlimentacao" value="Não" [(ngModel)]="model.controleAlimentacao"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Qual? </label>
                <input type="text" class="form-control" name="qualIntolerancia" [(ngModel)]="model.qualControleAlimentacao"/>
              </div>

              <div class="col-md-6">
                <label>Apresentou alteração de peso? </label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="alteracaoPeso" value="Sim" [(ngModel)]="model.alteracaoPeso"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="alteracaoPeso" value="Não" [(ngModel)]="model.alteracaoPeso"/>
                  Não
                </div>
              </div>

              <div class="col-md-6">
                <label>Em quanto tempo?</label>
                <input type="text" class="form-control" name="emQuantoTempo" [(ngModel)]="model.emQuantoTempo"/>
              </div>

              <div class="col-md-6">
                <label>Consumo de água </label>
                <input type="text" class="form-control" name="consumoAgua" [(ngModel)]="model.consumoAgua"/>
              </div>

              <div class="col-md-6">
                <label>Consumo de Café </label>
                <input type="text" class="form-control" name="consumoCafe" [(ngModel)]="model.consumoCafe"/>
              </div>

              <div class="col-md-4">
                <label>Consumo mensal de sal</label>
                <input type="text" class="form-control" name="consumoMensalSal" [(ngModel)]="model.consumoMensalSal"/>
              </div>

              <div class="col-md-4">
                <label>Consumo de açúcar </label>
                <input type="text" class="form-control" name="consumoAcucar" [(ngModel)]="model.consumoAcucar"/>
              </div>

              <div class="col-md-4">
                <label>Consumo de óleo/banha </label>
                <input type="text" class="form-control" name="consumoOleoBanha" [(ngModel)]="model.consumoOleoBanha"/>
              </div>

              <div class="col-md-6">
                <label>Onde faz as refeições?</label>
                <input type="text" class="form-control" name="ondeFazRefeicoes" [(ngModel)]="model.ondeFazRefeicoes"/>
              </div>

              <div class="col-md-6">
                <label>Quem prepara </label>
                <input type="text" class="form-control" name="quemPreparaRefeicoes"  [(ngModel)]="model.quemPreparaRefeicoes"/>
              </div>

              <label>Mastigação</label>
              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="velocidadeRefeicao"  value="Rápida" [(ngModel)]="model.velocidadeRefeicao"/>
                    Rápida
                  </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="velocidadeRefeicao" value="Moderada" [(ngModel)]="model.velocidadeRefeicao"/>
                    Moderada
                  </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="velocidadeRefeicao" value="Devagar" [(ngModel)]="model.velocidadeRefeicao"/>
                    Devagar
                  </label>
                </div>
              </div>
                
              <label>Costuma comer</label>
              <div class="col-md-6">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="acompanhamentoRefeicao" value="Acompanhado" [(ngModel)]="model.acompanhamentoRefeicao"/>
                    Acompanhado
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="acompanhamentoRefeicao" value="Sozinho" [(ngModel)]="model.acompanhamentoRefeicao"/>
                    Sozinho
                  </label>
                </div>
              </div>


                <div class="col-md-6">
                  <label>Preferências </label>
                  <input type="text" class="form-control" name="preferenciasAlimentares" [(ngModel)]="model.preferenciasAlimentares"/>
                </div>

                <div class="col-md-6">
                  <label>Restrições alimentares (vegetariano, naturalista, etc)</label>
                  <input type="text" class="form-control" name="restricoesAlimentares" [(ngModel)]="model.restricoesAlimentares"/>
                </div>


              <div class="container mt-2">
                <div class="row g-3">
                  <div class="btn form-check">
                    <input class="enviar btn btn-success" type="submit" value="Enviar" (click)="routerNutri()">
                    <input class="limpar btn btn-danger" type="reset" value="Limpar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>