<app-navbar></app-navbar>

<div class="content">
  <form #form="ngForm" (ngSubmit)="ProntNutricionista()" class="row g-3">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="Dados Pessoais">
        <fieldset class="border p-4">
          <div class="container mt-2 ">
            <div class="row g-3">
              <h4 class=" col-md-12 w-auto">Avaliação Nutricionista</h4>

              <div class="col-md-10">
                <label>Data Avaliação</label>
                <input type="date" class="form-control" name="dataAvaliacao" [(ngModel)]="model" />
              </div>
              <script>
                $(document).ready(function () {
                  $(".date").datepicker({
                    language: "pt-BR", // Define a linguagem como Português do Brasil
                    format: "dd/mm/yyyy", // Define o formato da data
                    autoclose: true,
                    todayHighlight: true,
                  });
                });
              </script>

              <div class="col-md-12">
                <h5>Dados Pessoais</h5>
              </div>

              <div class="col-md-6">
                <label>Nome</label>
                <input type="text" class="form-control" name="nome" [(ngModel)]="model"/>
              </div>

              <div class="col-md-2">
                <label>Idade</label>
                <input type="text" class="form-control" name="idade" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Data de Nascimento</label>
                <input type="date" class="form-control" name="dataNascimento" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Motivo da consulta </label>
                <textarea cols="10" rows="4" wrap="hard" class="form-control" name="motivoConsulta" [(ngModel)]="model"></textarea>
              </div>

              <div class="col-md-4">
                <label>Encaminhado por:</label>
                <input type="text" class="form-control" name="encaminhadoPor" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Convênio</label>
                <input type="text" class="form-control" name="convenio" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <h6 for="celular" class="form-label">Telefone</h6>
                <input type="text" class="form-control" id="celular" placeholder="(xx) xxxxx-xxxx" maxlength="15"
                  name="telefone" [(ngModel)]="model"/>
              </div>
              <script>
                // Adiciona a máscara ao campo de celular
                document
                  .getElementById("celular")
                  .addEventListener("input", function (e) {
                    var value = e.target.value.replace(/\D/g, "");
                    var formattedValue = "(" + value.substring(0, 2);
                    if (value.length > 2) {
                      formattedValue += ") " + value.substring(2, 5);
                    }
                    if (value.length > 6) {
                      formattedValue += "-" + value.substring(5, 9);
                    }
                    e.target.value = formattedValue;
                  });
              </script>

              <div class="col-md-6">
                <label>Endereço</label>
                <input type="text" class="form-control" name="endereco" [(ngModel)]="model"/>
              </div>


            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Aspectos Sócio - Econômicos">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Escolaridade</label>
                <input type="text" class="form-control" name="escolaridade" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Profissão</label>
                <input type="text" class="form-control" name="profissao" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Número de pessoas que moram na casa</label>
                <input type="text" class="form-control" name="numeroPessoasCasa" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>N° Adultos</label>
                <input type="text" class="form-control" name="numeroAdulto" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>N° Crianças (0 - 14 anos)</label>
                <input type="text" class="form-control" name="numeroCrianca" [(ngModel)]="model" />
              </div>

              <div class="col-md-12">
                <label>Estado Civil</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model"/> Solteiro
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model"/> Casado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model"/> Separado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model"/> Divorciado
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="estadoCivil" [(ngModel)]="model"/> Viúvo
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Histórico Clínico">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Apresenta algum problema de saúde </label>
                <input type="text" class="form-control"  name="problemaSaude" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Qual</label>
                <input type="text" class="form-control" name="qual" [(ngModel)]="model"/>
              </div>

              <div class="col-md-3">
                <label>Diabetes</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Hipertensão</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Obesidade</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Dislipidemia</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-12">
                <label>Outros </label>
                <input type="text" class="form-control" name="outros" [(ngModel)]="model"/>
              </div>

            </div>
          </div>
        </fieldset>
      </mat-tab>

      <mat-tab label="Antecedentes familiares">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-3">
                <label>Diabetes</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="diabetes" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Hipertensão</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="hipertensao" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Obesidade</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="obesidade" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-3">
                <label>Dislipidemia</label><br>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" [(ngModel)]="model"/>
                  Sim
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input radio" type="radio" name="dislipidemia" [(ngModel)]="model"/>
                  Não
                </div>
              </div>

              <div class="col-md-12">
                <label>Outros </label>
                <input type="text" class="form-control" name="outros" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Hábito intestinal </label>
                <input type="text" class="form-control" name="habitoIntestinal" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Características das fezes </label>
                <input type="text" class="form-control" name="caracteristicaFezes" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Hábito urinário</label>
                <input type="text" class="form-control" name="habitoUrinario" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Horas de sono </label>
                <input type="text" class="form-control" name="horaSono" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Atividade fisica</label>
                <input type="text" class="form-control" name="atividadeFisica" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Frequência </label>
                <input type="text" class="form-control" name="frequencia" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Fuma </label>
                <input type="text" class="form-control" name="fuma" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Quanto </label>
                <input type="text" class="form-control" name="quanto" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempo" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Faz uso de bebida alcoólica </label>
                <input type="text" class="form-control"  name="fazUsoBebidaAlcoolica" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Tipo </label>
                <input type="text" class="form-control" name="tipo" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoBebida" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Faz uso de laxantes </label>
                <input type="text" class="form-control" name="fazUsoLaxante" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Por quanto tempo </label>
                <input type="text" class="form-control" name="porQuantoTempo" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Faz uso de medicamento</label>
                <input type="text" class="form-control" name="fazUsoMedicamento" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoMedicamento" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Quais </label>
                <input type="text" class="form-control" name="quaisMedicamento" [(ngModel)]="model"/>
              </div>


            </div>
          </div>
        </fieldset>
      </mat-tab>


      <mat-tab label="Avaliação Nutricional - Histórico Alimentar">
        <fieldset class="border p-4">
          <div class="container mt-2">
            <div class="row g-3">

              <div class="col-md-6">
                <label>Apresenta intolerância ou aversão alimentar? Qual? </label>
                <input type="text" class="form-control" name="intoleranciaOuAversaoAlimentar" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Há quanto tempo </label>
                <input type="text" class="form-control" name="haQuantoTempoAlimentacao" [(ngModel)]="model"/>
              </div>

              <div class="col-md-12">
                <label>Faz ou fez algum controle de alimentação? Qual? </label>
                <input type="text" class="form-control" name="controleAlimentacao" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Apresentou alteração de peso? </label>
                <input type="text" class="form-control" name="alteracaoPeso" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Em quanto tempo?</label>
                <input type="text" class="form-control" name="emQuantoTempo" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Consumo de água </label>
                <input type="text" class="form-control" name="consumoAgua" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Consumo de Café </label>
                <input type="text" class="form-control" name="consumoCafe" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Consumo mensal de sal</label>
                <input type="text" class="form-control" name="consumoMensalSal" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Consumo de açúcar </label>
                <input type="text" class="form-control" name="consumoAcucar" [(ngModel)]="model"/>
              </div>

              <div class="col-md-4">
                <label>Consumo de óleo/banha </label>
                <input type="text" class="form-control" name="consumoOleoBanha" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Onde faz as refeições?</label>
                <input type="text" class="form-control" name="ondeFazRefeicoes" [(ngModel)]="model"/>
              </div>

              <div class="col-md-6">
                <label>Quem prepara </label>
                <input type="text" class="form-control" name="quemPrepara"  [(ngModel)]="model"/>
              </div>

              <label>Mastigação</label>
              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="rapida" [(ngModel)]="model"/>
                    Rápida
                  </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="moderada" [(ngModel)]="model"/>
                    Moderada
                  </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="devagar" [(ngModel)]="model"/>
                    Devagar
                  </label>
                </div>
              </div>
                
              <label>Costuma comer</label>
              <div class="col-md-6">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="acompanhado" [(ngModel)]="model"/>
                    Acompanhado
                  </label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-check">
                  <label>
                    <input class="form-check-input radio" type="radio" name="sozinho" [(ngModel)]="model"/>
                    Sozinho
                  </label>
                </div>
              </div>


                <div class="col-md-6">
                  <label>Preferências </label>
                  <input type="text" class="form-control" name="preferencias" [(ngModel)]="model"/>
                </div>

                <div class="col-md-6">
                  <label>Restrições alimentares (vegetariano, naturalista, etc)</label>
                  <input type="text" class="form-control" name="restricoesAlimentares" [(ngModel)]="model"/>
                </div>


              <div class="container mt-2">
                <div class="row g-3">
                  <div class="btn form-check">
                    <input class="enviar btn btn-success" type="submit" value="Enviar" (click)="routerNutri()">
                    <input class="limpar btn btn-danger" type="reset" value="Limpar">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </mat-tab>
    </mat-tab-group>
  </form>
</div>