<div class="container-fluid">
    <h1>Lista Idosos</h1>
    <table class="table" *ngIf="enfermagem">
        <thead>
            <tr class="table">
                <th scope="col">Nome</th>
                <th scope="col">Data Nascimento</th>
                <th scope="col">Data Exame</th>
                <th scope="col">Mais Informações</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let enf of enfermagem">
                <td class="nome">{{ enf.nome }}</td>
                <td class="nome">{{ enf.dataNascimento }}</td>
                <td class="nome">{{ enf.dataExame }}</td>
                <td class="detalhes">
                    <button type="button" class="btn btn-info" value="Detalhes" href="./listaCompleta">Detalhes</button>
                </td>  
            </tr>
        </tbody>
    </table>
</div>